.hero {
    background: $blanc;
    margin-block: 3vw;
    border-radius: 10px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: relative;
    h1 {
        color: $violet;
    }
    .box_hero {
        width: 100%;
        border-radius: 1.5rem 1rem 0 1rem;
        border: 5px solid $violet;
        height: 100%;
        background-size: cover;
        aspect-ratio: 16/9;
        background-position: center;
        background-image: url("../../assets/images/webp/butmmi.webp");
    }
    .boutonGeneral {
        position: absolute;
        bottom: 20px;
        margin-block-start: 20px;
        width: fit-content;
        padding: 15px 20px;
        border: 0;
        background: $violet;
        border-radius: 7px;
        outline: none;
        color: $blanc;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        font-weight: normal;
        gap: 10px;
        &:hover {
            background: $violet2;
        }
    }
}

.projetsLatest {
    background: $blanc;
    margin-block: 3vw;
    border-radius: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;

    h1 {
        color: $violet;
    }

    .block {
        display: flex;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding: 20px;
    
        img {
            border-radius: 10px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        .block2 {
            width: 70%;
            display: flex;
            position: relative;
            a {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $blanc;
                background: $violet;
                padding: 20px 35px;
                border-radius: 10px;
                transition: all 0.3s;
                box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
                &:hover {
                    background: $violet2;
                }
            }
    
        }
    
        .block3 {
            display: flex;
            width: 30%;
            flex-direction: column;
            grid-column-gap: 20px;
            grid-row-gap: 20px;

            .projetDroit {
                background: $background;
                padding: 20px;
                border-radius: 10px;
                img {
                    height: 25vh;
                    transition: all 0.3s;
                    &:hover {
                        transform: scale(0.95);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .hero {
        position: initial;

        .boutonGeneral {
            position: initial;
            bottom: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .hero {
        .box_hero {
            display: none;
            padding: 0;
        }
    }
}

