footer {
    height: 80px;
    background: $blanc;
    border-radius: 10px;
    filter: drop-shadow(0 0 20px $background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    .reseaux_sociaux {
        display: flex;
        flex-direction: row;
        a {
            font-size: 1.5rem;
            font-weight: bold;
            color: $violet;
            padding-inline-end: 10px;
            &:hover{
                color: $violet2;
                transform: scale(0.95);
            }
        }
    }
}
