.footer {
    height: 80px;
    background: $blanc;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    .reseaux_sociaux {
        display: flex;
        flex-direction: row;
        a {
            font-size: 1.5rem;
            font-weight: bold;
            color: $violet;
            padding-inline-end: 10px;
            &:hover {
                color: $violet2;
                transform: scale(0.95);
            }
        }
    }

    .footer_right {
        display: flex;
        flex-direction: row;
        gap: 20px;
        color: $violet;
        font-weight: bold;
        a{
            color: $violet;
            &:hover {
                color: $violet2;
            }
        }
    }
}


.dark_mode_footer {
    background-color: $violet2;
    .reseaux_sociaux {
        display: flex;
        flex-direction: row;
        a {
            font-size: 1.5rem;
            font-weight: bold;
            color: $blanc;
            padding-inline-end: 10px;
            &:hover {
                color: $blanc;
                transform: scale(0.95);
            }
        }
    }
}

