footer {
    height: 80px;
    background: $blanc;
    border-radius: 10px;
    filter: drop-shadow(0 0 20px $background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    .reseaux_sociaux {
        i {
            font-size: 2rem;
            padding-inline-end: 10px;
        }
        i:nth-child(1){
            color: #1D9BF0;
        }

        i:nth-child(2){
            color: #0A66C2;
        }

        i:nth-child(3){
            color: #1877F2;
        }
    }
}
