header {
    position: sticky;
    top: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    height: 80px;
    background-color: $violet;
    border-radius: 10px;
    color: $blanc;
    padding: 0 20px;

    .separateur {
        padding-inline: 20px;
        color: $background;
    }

    .logo {
        display: flex;
        align-items: center;

        img {
            width: 35px;
            height: 35px;
            transition: all 0.2s;
            object-fit: cover;
            aspect-ratio: 16/9;
            &:hover {
                transform: scale(0.95);
            }
        }
    }

    nav {
        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                a {
                    padding-inline-end: 20px;
                    &:hover {
                        color: $violet2;
                    }
                }
            }
        }
    }

    .search {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 15vw;
        flex: 1;
        form {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            input[type="text"] {
                border-radius: 20px;
                height: 35px;
                width: 15vw;
                // max-width: 25vw;
                color: #8b8e98;
                box-shadow: 0 2px 6px 0 rgba(61, 2, 74, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
                overflow: hidden;
                position: relative;
                border: none;
                flex: 1;
                outline: none;
                font-family: "Ubuntu", sans-serif;
                padding: 0 15px;
                font-size: 1rem;
                background-color: #fff;
                overflow-x: hidden;
                &:placeholder {
                    color: $noir;
                    opacity: 0.6;
                }
            }

            button[type="submit"] {
                border: none;
                background-color: transparent;
                position: relative;
                color: $gris;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                i {
                    position: absolute;
                    right: 5px;
                    cursor: pointer;
                    transition: all 0.3s;
                    border-radius: 0 50% 50% 0;
                    height: 35px;
                    width: 35px;
                    top: 50%;
                    transform: translate(0, -50%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        color: $violet;
                        font-weight: bold;
                    }
                }
            }
        }
        .header-search-result {
            position: absolute;
            top: 100%;
            border-radius: 10px;
            color: $violet;
            background-color: $blanc;
            width: 15vw;
            display: flex;
            flex-direction: column;
            padding: 10px;
            z-index: 999;
            &:not(:last-child) {
                margin-bottom: 5px;
            }
            hr {
                margin: 8px 0 8px 0;
            }
            li {
                p {
                    text-transform: uppercase;
                    font-weight: bold;
                    width: 100%;
                    text-align: center;
                }
                a {
                    color: $violet;
                    font-weight: 400;
                    transition: all 0.3s;
                    text-transform: capitalize;
                    &:hover {
                        color: $violet2;
                    }
                }
            }
            .titre-search {
                margin: 0;
            }
        }
    }

    .toggle-switch {
        position: relative;
        margin-inline-end: 20px;
        width: 100px;
        height: 35px;

        .switch-label {
            position: absolute;
            width: 100%;
            height: 35px;
            background-color: $violet2;
            border-radius: 25px;
            cursor: pointer;

            .checkbox {
                position: absolute;
                display: none;
            }

            .slider {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 25px;
                transition: 0.3s;

                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 20px;
                    width: 20px;
                    height: 20px;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    box-shadow: inset 12px -4px 0px 0px $blanc;
                    background-color: $violet2;
                    transition: 0.3s;
                }
            }

            .checkbox:checked ~ .slider {
                background-color: $blanc;
            }

            .checkbox:checked ~ .slider::before {
                top: 50%;
                transform: translate(50px, -50%);
                background-color: $violet2;
                box-shadow: none;
            }
        }
    }

    .user {
        display: flex;
        align-items: center;

        i {
            font-size: 35px;
            color: $blanc;
            transition: all 0.3s;
            &:hover {
                color: #1c1c48;
            }
        }

        img {
            width: 35px;
            height: 35px;
            border: 2px solid $violet2;
            border-radius: 50%;
            transition: all 0.2s;
            cursor: pointer;
            object-fit: cover;
            aspect-ratio: 16/9;
            &:hover {
                transform: scale(0.95);
            }
        }

        .dropdown {
            position: relative;
            display: inline-block;
            border-radius: 10px;
            .dropdown-menu {
                position: absolute;
                border-radius: 10px;
                top: 100%;
                right: -20px;
                z-index: 1;
                display: none;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                padding: 0;
                transition: all 0.3s;
                margin: 0;
                width: auto;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                ul {
                    background: $blanc;
                    border-radius: 10px;
                    span {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: row;
                        padding: 15px 20px;
                        text-decoration: none;
                        color: $violet;
                        font-weight: bold;
                    }
                    li {
                        list-style: none;
                        a {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            flex-direction: row;
                            padding: 15px 20px;
                            text-decoration: none;
                            color: $violet;
                            &:hover {
                                background-color: $violet2;
                                color: $blanc;
                            }
                            i {
                                font-size: 1rem;
                                padding-inline-end: 10px;
                                color: $violet;
                            }
                        }
                    }
                    hr {
                        display: block;
                        width: 100%;
                        height: 1px;
                        border: 0;
                        background-color: #e8e8e8;
                    }
                }
            }

            &:hover .dropdown-menu {
                display: block;
                opacity: 1;
                animation: fadeIn 0.3s ease-in-out;
                background: $background;
            }

            @keyframes fadeIn {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .header-search-result {
        width: 22vw;
        .ng-binding {
            font-size: 13px;
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        gap: 10px;
        border-radius: 10px 10px 0 0;

        nav {
            display: none;
        }

        .user {
            .separateur {
                display: none;
            }
        }

        .search {
            display: flex;
            align-items: center;
            width: 100%;
            flex: 1;
            justify-content: center;
            .header-search-result {
                border-radius: 0 0 10px 10px;
                width: 100%;
                left: 50%;
                transform: translate(-50%);
            }

            form {
                input[type="text"] {
                    padding: 10px;
                    font-size: 14px;
                    width: 100%;
                }

                button[type="submit"] {
                    font-size: 14px;
                }
            }
            .search-toggle {
                display: block;
            }
        }
    }
}
