* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  background: $background;
  margin: 3vw;
  font-family: "Ubuntu", sans-serif;
  transition: background-color 0.2s ease-in-out;
}

a {
  text-decoration: none;
  color: $blanc;
  transition: all 0.3s;
  font-weight: bold;
  &:hover {
    color: #444492;
  }
}

.boutonGeneral {
  padding: 15px 20px;
  border: 0;
  background: $violet;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  font-weight: normal;
  &:hover {
    background: $violet2;
  }
}
