@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: clamp(1rem, 0.8165rem + 0.9174vw, 1.5rem);
  font-weight: bold;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  background: #f0f3f4;
  margin: 3vw;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
  font-weight: bold;
}
a:hover {
  color: #444492;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #444492;
  border-radius: 10px;
  color: #fff;
  padding: 0 20px;
}
header img {
  width: 36px;
  height: 36px;
  transition: all 0.2s;
}
header img:hover {
  transform: scale(0.95);
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul li {
  padding-inline: 20px;
}
header nav ul li i {
  font-size: 1.5rem;
}
header .search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: background-color 0.3s ease-in-out;
}
header .search-overlay form {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 50vw;
  width: 100%;
}
header .search-overlay form input[type=text] {
  padding: 15px 20px;
  border: none;
  border-radius: 50px 0px 0px 50px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  width: 100%;
  background-color: #fff;
  color: #000;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
header .search-overlay form input[type=text]:focus {
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 2px #2f2f68;
  background-color: #fff;
}
header .search-overlay form input[type=text]::placeholder {
  color: #999;
}
header .search-overlay form button[type=submit] {
  padding: 15px 20px;
  border: none;
  border-radius: 0px 50px 50px 0px;
  font-size: 1.2rem;
  background-color: #444492;
  color: #fff;
  cursor: pointer;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
header .search-overlay form button[type=submit]:hover {
  background-color: #2f2f68;
}
header.search-active {
  overflow: hidden;
}
header.search-active .search-overlay {
  display: flex;
}

footer {
  height: 80px;
  background: #fff;
  border-radius: 10px;
  filter: drop-shadow(0 0 20px #f0f3f4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
}
footer .reseaux_sociaux i {
  font-size: 2rem;
  padding-inline-end: 10px;
}
footer .reseaux_sociaux i:nth-child(1) {
  color: #1D9BF0;
}
footer .reseaux_sociaux i:nth-child(2) {
  color: #0A66C2;
}
footer .reseaux_sociaux i:nth-child(3) {
  color: #1877F2;
}

.hero {
  background: #fff;
  margin-block: 3vw;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  filter: drop-shadow(0 0 20px #f0f3f4);
}
.hero .hero_1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 60vh);
  text-align: center;
  color: #fff;
}
.hero .hero_1 .sous_hero_1 {
  background: #444492;
  width: 100%;
  height: 60vh;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.hero .hero_1 .sous_hero_1 p {
  padding-inline: 3vw;
  line-height: 1.5;
}
.hero .hero_2 {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-template-rows: repeat(2, 30vh);
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}
.hero .hero_2 .sous_hero_1_1 {
  background: #444492;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  color: #fff;
  border-radius: 20px;
  cursor: grab;
}
.hero .hero_2 .sous_hero_1_1:active {
  cursor: grabbing;
}
.hero .hero_2 .sous_hero_2 {
  background: #f0f3f4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  color: #444492;
  border-radius: 20px;
  cursor: grab;
}
.hero .hero_2 .sous_hero_2:active {
  cursor: grabbing;
}

.projets {
  background: #fff;
  height: 60vh;
  margin-block: 3vw;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
  filter: drop-shadow(0 0 20px #f0f3f4);
  position: relative;
}
.projets .arrow_gauche {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: black;
  background: #f0f3f4;
  left: 2vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  filter: drop-shadow(0 0 20px #f0f3f4);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.projets .arrow_droite {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: black;
  background: #f0f3f4;
  right: 2vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  filter: drop-shadow(0 0 20px #f0f3f4);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.projets .projets_section {
  display: flex;
  gap: 3vw;
  overflow: hidden;
  transition: all 0.3s;
}
.projets .projets_section .projets_item {
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  cursor: grab;
  background-image: url("../../assets/images/jpg/pexels-guillaume-meurice-2808402.jpg");
  background-size: 50vw;
}
.projets .projets_section .projets_item:active {
  cursor: grabbing;
}
.projets .projets_section .projets_item .projets_1 {
  background-image: url("../../assets/images/jpg/pexels-guillaume-meurice-2808402.jpg");
  background-size: 50vw;
}
.projets .projets_section .projets_item .projets_2 {
  background-image: url("../../assets/images/jpg/pexels-fauxels-3183153.jpg");
  background-size: 50vw;
}

#inscription {
  margin-block: 5vh;
}
#inscription .form_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border-radius: 10px;
  gap: 30px;
  padding: 40px;
}
#inscription .form_container .logo_container {
  width: 100%;
  height: 80px;
  color: #444492;
  text-align: center;
}
#inscription .form_container .title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
#inscription .form_container .title_container .title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #000;
}
#inscription .form_container .title_container .subtitle {
  max-width: 80%;
  text-align: center;
  line-height: 1.1rem;
  color: #8b8e98;
}
#inscription .form_container .input_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#inscription .form_container .input_container .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  z-index: 99;
}
#inscription .form_container .input_container .input_label {
  color: #8b8e98;
  font-weight: bold;
}
#inscription .form_container .input_container .input_field {
  width: 100%;
  height: 40px;
  padding: 10px 40px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
#inscription .form_container .input_container .input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}
#inscription .form_container .input_container .invalid-feedback {
  color: red;
}
#inscription .form_container .input_container .invalid-feedback strong {
  position: absolute;
  left: 0;
  top: 50px;
}
#inscription .boutonGeneral {
  width: 100%;
  height: 40px;
  border: 0;
  background: #444492;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  font-weight: normal;
}
#inscription .boutonGeneral:hover {
  background: #2f2f68;
}
#inscription .separateur {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #8b8e98;
}
#inscription .separateur .hr {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
}
#inscription .note {
  color: #8b8e98;
  text-align: center;
  font-weight: normal;
}
#inscription .conditions {
  color: #8b8e98;
  text-decoration: underline;
  text-align: center;
  font-weight: normal;
}

#connexion {
  margin-block: 5vh;
}
#connexion .form_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border-radius: 10px;
  gap: 30px;
  padding: 40px;
}
#connexion .form_container .logo_container {
  width: 100%;
  height: 80px;
  color: #444492;
  text-align: center;
}
#connexion .form_container .title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
#connexion .form_container .title_container .title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #000;
}
#connexion .form_container .title_container .subtitle {
  max-width: 80%;
  text-align: center;
  line-height: 1.1rem;
  color: #8b8e98;
}
#connexion .form_container .input_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#connexion .form_container .input_container .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  z-index: 99;
}
#connexion .form_container .input_container .input_label {
  color: #8b8e98;
  font-weight: bold;
}
#connexion .form_container .input_container .input_field {
  width: 100%;
  height: 40px;
  padding: 10px 40px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
#connexion .form_container .input_container .input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}
#connexion .form_container .input_container .invalid-feedback {
  color: red;
}
#connexion .form_container .input_container .invalid-feedback strong {
  position: absolute;
  left: 0;
  top: 50px;
}
#connexion .boutonGeneral {
  width: 100%;
  height: 40px;
  border: 0;
  background: #444492;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  font-weight: normal;
}
#connexion .boutonGeneral:hover {
  background: #2f2f68;
}
#connexion .separateur {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #8b8e98;
}
#connexion .separateur .hr {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
}
#connexion .note {
  color: #8b8e98;
  text-align: center;
  font-weight: normal;
}
#connexion .conditions {
  color: #8b8e98;
  text-decoration: underline;
  text-align: center;
  font-weight: normal;
}

#portfolio {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#portfolio h1 {
  margin-block-end: 20px;
}
#portfolio hr {
  border: 1px solid #f8f8f8;
  width: 100%;
}
#portfolio .portfolioSection {
  background: #fff;
  margin-block: 3vw;
  margin-inline-end: 3vw;
  padding: 2vw;
  border-radius: 10px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  width: 70%;
}
#portfolio .portfolioSection .headerPortfolio {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}
#portfolio .portfolioSection .headerPortfolio .boutonGeneral {
  width: fit-content;
  height: fit-content;
  padding: 15px 20px;
  border: 0;
  background: #444492;
  font-family: "Ubuntu", sans-serif;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  font-weight: normal;
}
#portfolio .portfolioSection .headerPortfolio .boutonGeneral:hover {
  background: #2f2f68;
}
#portfolio .portfolioSection .gridTravaux {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
#portfolio .portfolioSection .gridTravaux .travaux {
  margin-block-start: 3vh;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 30vh;
  cursor: pointer;
  transition: all 0.5s;
}
#portfolio .portfolioSection .gridTravaux .travaux:hover {
  transform: scale(0.95);
}
#portfolio .portfolioSection .gridTravaux .travaux p {
  text-align: center;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  width: 70%;
  padding: 10px;
  filter: drop-shadow(0 0 50px #000);
}
#portfolio .portfolioSection .gridTravaux .travaux p i {
  padding-inline-end: 5px;
}
#portfolio .portfolioSection .gridTravaux .travaux img {
  width: 100%;
  border-radius: 5px;
  height: 30vh;
}
#portfolio .portfolioSection .simple-pagination ul {
  margin-block: 50px 30px;
  padding: 0;
  list-style: none;
  text-align: center;
}
#portfolio .portfolioSection .simple-pagination li {
  display: inline-block;
  margin-right: 5px;
}
#portfolio .portfolioSection .simple-pagination li a,
#portfolio .portfolioSection .simple-pagination li span {
  color: #000;
  padding: 15px 20px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}
#portfolio .portfolioSection .simple-pagination .current {
  color: #fff;
  background-color: #444492;
  border-color: #444492;
}
#portfolio .portfolioSection .simple-pagination .prev.current,
#portfolio .portfolioSection .simple-pagination .next.current {
  background: #444492;
}
#portfolio .etudiantAside {
  position: sticky;
  top: 25vh;
  background: #fff;
  margin-block: 3vw;
  padding: 2vw;
  border-radius: 10px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 30%;
}
#portfolio .etudiantAside label {
  font-weight: bold;
  margin-block: 3vh;
}
#portfolio .etudiantAside .select {
  position: relative;
  display: flex;
  width: 100%;
  height: 3em;
  border-radius: 5px;
  overflow: hidden;
}
#portfolio .etudiantAside .select::after {
  content: "▼";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  color: #fff;
  background-color: #222292;
  transition: 0.25s all ease;
  pointer-events: none;
}
#portfolio .etudiantAside .select:hover::after {
  color: #444492;
}
#portfolio .etudiantAside .select select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background: #444492;
  font-family: "Ubuntu", sans-serif;
  background-image: none;
  cursor: pointer;
}
#portfolio .etudiantAside .select select::-ms-expand {
  display: none;
}
#portfolio .etudiantAside p {
  margin-block: 2vh;
}
#portfolio .etudiantAside .boxProgression {
  width: 100%;
  background-color: #f0f3f4;
  border-radius: 10px;
}
#portfolio .etudiantAside .boxProgression .skills {
  text-align: right;
  border-radius: 10px;
  padding-block: 5px;
  color: #fff;
}
#portfolio .etudiantAside .boxProgression .html {
  width: 90%;
  background: #444492;
}
#portfolio .etudiantAside .boxProgression .css {
  width: 80%;
  background: #444492;
}
#portfolio .etudiantAside .boxProgression .js {
  width: 65%;
  background: #444492;
}
#portfolio .etudiantAside .boxProgression .php {
  width: 60%;
  background: #444492;
}

/*# sourceMappingURL=style.css.map */
