#portfolio {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    h1 {
        margin-block-end: 20px;
        color: $violet;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    hr {
        border: 1px solid #dadada;
        width: 100%;
    }

    .boutonGeneral {
        width: fit-content;
        height: fit-content;
        padding: 15px 20px;
        border: 0;
        background: $violet;
        font-family: "Ubuntu", sans-serif;
        border-radius: 7px;
        outline: none;
        color: $blanc;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        transition: all 0.3s;
        font-weight: normal;
        gap: 10px;
        &:hover {
            background: $violet2;
        }
    }
    
    .portfolioSection {
        background: $blanc;
        margin-block: 3vw;
        margin-inline-end: 3vw;
        padding: 2vw;
        border-radius: 10px;
        box-shadow: 0px 15px 20px rgb(0 0 0 / 10%);
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-direction: column;
        width: 70%;
        .headerPortfolio {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            flex-direction: row;
        }
        .gridTravaux {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            .travaux {
                margin-block: 60px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;
                height: 30vh;
                cursor: pointer;
                transition: all 0.5s;

                img {
                    width: 100%;
                    border-radius: 5px;
                    height: 30vh;
                    aspect-ratio: 16/9;
                    object-fit: cover;
                }

                .boutonDiv {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    gap: 20px;
                    align-items: center;
                    flex-direction: row;
                    margin-block-start: 20px;
                    .boutonGeneral {
                        background: $violet;
                        text-align: center;
                        &:hover {
                            transform: scale(0.95);
                            color: $violet2;
                        }
                    }

                    .popup-wrapper {
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: none;
                        z-index: 100;
                        background-color: rgba(0, 0, 0, 0.5);
                    }

                    .popup {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 80%;
                        max-width: 600px;
                        background-color: #fff;
                        padding: 20px;
                        border-radius: 5px;
                        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                    }

                    .popup h1 {
                        color: $violet;
                        font-weight: bold;
                    }

                    .popup label {
                        display: block;
                        margin-block: 20px;
                        font-weight: bold;
                        color: $gris;
                    }

                    .popup input[type="text"],
                    .popup input[type="date"],
                    .popup textarea {
                        width: 100%;
                        height: 40px;
                        padding: 10px;
                        border-radius: 7px;
                        outline: none;
                        border: 1px solid #e5e5e5;
                        filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
                        transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
                        margin-block-end: 20px;

                        &:focus {
                            border: 1px solid transparent;
                            box-shadow: 0px 0px 0px 2px #242424;
                            background-color: transparent;
                        }
                    }

                    .popup .button-container {
                        text-align: right;
                        margin-top: 20px;
                    }

                    .popup button {
                        padding: 10px 20px;
                        border-radius: 5px;
                        border: none;
                        background-color: $violet;
                        color: #fff;
                        font-size: 16px;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;
                    }

                    .popup button:hover {
                        background-color: $violet2;
                    }

                    .cancel-btn {
                        background-color: #ccc;
                        color: #fff;
                        margin-left: 10px;
                    }

                    .popup-wrapper.active {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                hr {
                    margin-block-start: 20px;
                    border: 2px solid $background;
                }
            }
        }
        .simple-pagination ul {
            margin-block: 80px 30px;
            padding: 0;
            list-style: none;
            text-align: center;
        }

        .simple-pagination li {
            display: inline-block;
            margin-right: 5px;
        }

        .simple-pagination li a,
        .simple-pagination li span {
            color: $noir;
            padding: 15px 20px;
            border-radius: 5px;
            text-decoration: none;
            background-color: $blanc;
            box-shadow: 0px 15px 20px rgb(0 0 0 / 10%);
        }

        .simple-pagination .current {
            color: $blanc;
            background-color: $violet;
            border-color: $violet;
        }

        .simple-pagination .prev.current,
        .simple-pagination .next.current {
            background: $violet;
        }
    }

    .etudiantAside {
        position: sticky;
        top: 25vh;
        background: $blanc;
        margin-block: 3vw;
        padding: 2vw;
        border-radius: 10px;
        box-shadow: 0px 15px 20px rgb(0 0 0 / 10%);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        width: 30%;

        li {
            list-style: inside;
        }

        label, h2 {
            font-weight: bold;
            margin-block: 3vh;
            font-size: clamp(1rem, 0.7619rem + 1.1905vw, 1.25rem);
        }
        .select {
            position: relative;
            display: flex;
            width: 100%;
            height: 3em;
            border-radius: 5px;
            overflow: hidden;
            &::after {
                content: "\25BC";
                position: absolute;
                top: 0;
                right: 0;
                padding: 1em;
                color: $blanc;
                background-color: #222292;
                transition: 0.25s all ease;
                pointer-events: none;
            }
            &:hover::after {
                color: $violet;
            }
            select {
                appearance: none;
                outline: 0;
                border: 0;
                box-shadow: none;
                flex: 1;
                padding: 0 1em;
                color: $blanc;
                background: $violet;
                font-family: "Ubuntu", sans-serif;
                background-image: none;
                cursor: pointer;
                &::-ms-expand {
                    display: none;
                }
            }
        }

        p {
            margin-block: 2vh;
            line-height: 1.25;
            text-align: justify;
        }
        .boxProgression {
            width: 100%;
            background-color: $background;
            border-radius: 10px;
            .skills {
                text-align: right;
                border-radius: 10px;
                padding-block: 5px;
                color: $blanc;
            }
            .html {
                width: 90%;
                background: $violet;
            }
            .css {
                width: 80%;
                background: $violet;
            }
            .js {
                width: 65%;
                background: $violet;
            }
            .php {
                width: 60%;
                background: $violet;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    #portfolio {
        .portfolioSection {
            .gridTravaux {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 20px;
                .travaux {
                    .boutonDiv {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        align-items: stretch;
                        flex-direction: column;
                        gap: 20px;
                        margin-block-start: 20px;
                        .boutonGeneral {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #portfolio {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
        margin-block: 5vh;
        .portfolioSection {
            width: 100%;
            padding: 20px;
            margin-inline-end: 0;
            .headerPortfolio {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                margin-block-end: 5vh;
                .boutonGeneral {
                    width: 100%;
                }
            }
            .gridTravaux {
                display: grid;
                grid-template-columns: 1fr;
                gap: 20px;
                .travaux {
                    .boutonDiv {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        align-items: stretch;
                        flex-direction: column;
                        gap: 20px;
                        margin-block-start: 20px;
                        .boutonGeneral {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .etudiantAside {
            width: 100%;
            padding: 20px;
            position: initial;
            top: 0;
        }
    }
}
