#portfolio {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    h1 {
        margin-block-end: 20px;
    }

    hr {
        border: 1px solid #f8f8f8;
        width: 100%;
    }
    .portfolioSection {
        background: $blanc;
        margin-block: 3vw;
        margin-inline-end: 3vw;
        padding: 2vw;
        border-radius: 10px;
        box-shadow: 0px 15px 20px rgb(0 0 0 / 10%);
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-direction: column;
        width: 70%;
        .headerPortfolio {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            flex-direction: row;
            .boutonGeneral {
                width: fit-content;
                height: fit-content;
                padding: 15px 20px;
                border: 0;
                background: $violet;
                font-family: "Ubuntu", sans-serif;
                border-radius: 7px;
                outline: none;
                color: #ffffff;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.3s;
                font-weight: normal;
                &:hover{
                    background: $violet2;
                }
            }
        }
        .gridTravaux {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            .travaux {
                margin-block-start: 3vh;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;
                height: 30vh;
                cursor: pointer;
                transition: all 0.5s;
                &:hover {
                    transform: scale(0.95);
                }
                p {
                    text-align: center;
                    background: $blanc;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 5px;
                    width: 70%;
                    padding: 10px;
                    filter: drop-shadow(0 0 50px $noir);
                    i {
                        padding-inline-end: 5px;
                    }
                }
                img {
                    width: 100%;
                    border-radius: 5px;
                    height: 30vh;
                }
            }
        }
        .simple-pagination ul {
            margin-block-start: 50px;
            padding: 0;
            list-style: none;
            text-align: center;
        }
        
        .simple-pagination li {
            display: inline-block;
            margin-right: 5px;
        }
        
        .simple-pagination li a,
        .simple-pagination li span {
            color: $noir;
            padding: 15px 20px;
            border-radius: 5px;
            text-decoration: none;
            background-color: $blanc;
            box-shadow: 0px 15px 20px rgb(0 0 0 / 10%);
        }
        
        .simple-pagination .current {
            color: $blanc;
            background-color: $violet;
            border-color: $violet;
        }
        
        .simple-pagination .prev.current,
        .simple-pagination .next.current {
            background: $violet;
        }
    }

    .etudiantAside {
        position: sticky;
        top: 25vh;
        background: $blanc;
        margin-block: 3vw;
        padding: 2vw;
        border-radius: 10px;
        box-shadow: 0px 15px 20px rgb(0 0 0 / 10%);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        width: 30%;
        label {
            font-weight: bold;
            margin-block: 3vh;
        }
        .select {
            position: relative;
            display: flex;
            width: 100%;
            height: 3em;
            border-radius: 5px;
            overflow: hidden;
            &::after {
                content: "\25BC";
                position: absolute;
                top: 0;
                right: 0;
                padding: 1em;
                color: $blanc;
                background-color: #222292;
                transition: 0.25s all ease;
                pointer-events: none;
            }
            &:hover::after {
                color: $violet;
            }
            select {
                appearance: none;
                outline: 0;
                border: 0;
                box-shadow: none;
                flex: 1;
                padding: 0 1em;
                color: $blanc;
                background: $violet;
                font-family: "Ubuntu", sans-serif;
                background-image: none;
                cursor: pointer;
                &::-ms-expand {
                    display: none;
                }
            }
        }

        p {
            margin-block: 2vh;
        }
        .boxProgression {
            width: 100%;
            background-color: $background;
            border-radius: 10px;
            .skills {
                text-align: right;
                border-radius: 10px;
                padding-block: 5px;
                color: $blanc;
            }
            .html {
                width: 90%;
                background: $violet;
            }
            .css {
                width: 80%;
                background: $violet;
            }
            .js {
                width: 65%;
                background: $violet;
            }
            .php {
                width: 60%;
                background: $violet;
            }
        }
    }
}
