#affichageProjet {
    margin-block: 5vh;

    .affichageSection {
        width: 100%;
        background: $blanc;
        margin-block: 3vw;
        border-radius: 10px;
        padding: 20px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        gap: 20px;

        h1 {
            color: $violet;
            text-transform: capitalize;
            text-align: center;
        }

        p {
            margin-block-end: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            background: $violet;
            color: $blanc;
            padding: 15px;
            border-radius: 10px;
        }

        .commentaireProjet {
            background: transparent;
            color: $noir;
        }

        .infos_projet {
            display: flex;
            justify-content: space-between;
            
            p {
                box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
            }
        }

        hr {
            margin: 0 auto;
            width: 100%;
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(27, 27, 57, 0), rgba(27, 27, 57, 0.75), rgba(27, 27, 57, 0));
        }

        .description_projet {
            background: $violet;
            border-radius: 5px;
            line-height: 1.5;
        }

        .boutonGeneral {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            width: fit-content;
        }

        img {
            margin-block: 2rem;
            width: 100%;
            height: 50vh;
            border-radius: 10px;
            object-fit: cover;
            object-position: center;
            aspect-ratio: 16/9;
            box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
        }

        .formulaireCommentaire{
            margin-block-end: 3vw;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-direction: column;
            width: 100%;

            .input_label {
                color: $noir;
                font-weight: bold;
            }

            .input_field {
                margin-block-start: 20px;
                width: 100%;
                min-height: 150px;
                padding: 10px;
                border-radius: 7px;
                outline: none;
                border: 1px solid #e5e5e5;
                filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
                transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
                &:focus {
                    border: 1px solid transparent;
                    box-shadow: 0px 0px 0px 2px #242424;
                    background-color: transparent;
                }
            }
        }

        .commentaireDiv {
            h2 {
                font-weight: bold;
            }

            .commentaire {
                margin-block-start: 20px;
                background: $background;
                padding: 20px;
                border-radius: 10px;
                .headerCommentaire {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: row;
                    width: 100%;
                    height: 40px;
                    img {
                        width: 35px;
                        height: 35px;
                        border: 2px solid $violet2;
                        border-radius: 50%;
                        margin-inline-end: 20px;
                        transition: all 0.2s;
                        cursor: pointer;
                        object-fit: cover;
                        aspect-ratio: 16/9;
                        &:hover {
                            transform: scale(0.95);
                        }
                    }
                }
                hr {
                    margin-block: 2vh;
                    border: 1px solid $blanc;
                }
    
                p {
                    text-align: justify;
                }
            }
        }
    }
}
