.connexion {
    background: $blanc;
    height: auto;
    margin-block: 3vw;
    padding: 3vw;
    border-radius: 10px;
    box-shadow: 0px 15px 20px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    .header_connexion{
        display: flex;
        border-radius: 10px;
        justify-content: space-between;
        align-items: center;
        a {
            padding: 10px;
            outline: none;
            background: $violet;
            color: $blanc;
            cursor: pointer;
            border: 0;
            border-radius: 5px;
            transition: all 0.3s;
            &:hover {
                background: red;
                transform: scale(0.95);
            }
        }
    }
    form {
        width: 100%;
        padding-block-start: 3vh;
        input:not([type="checkbox"]) {
            width: 100%;
            outline: 0;
            height: 35px;
            margin-block: 10px;
        }
        button[type="submit"] {
            margin-block-start: 10px;
            padding: 10px;
            outline: none;
            background: $violet;
            color: $blanc;
            cursor: pointer;
            border: 0;
            border-radius: 5px;
            transition: all 0.3s;
            &:hover {
                background: red;
                transform: scale(0.95);
            }
        }
    }
}
