#professeurMain {
    margin-block: 5vh;
    .erreurProfesseur {
        background: $blanc;
        margin-block: 3vw;
        height: calc(100vh - 37vh);
        padding: 20px;
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

        h1, p {
            color: $violet;
            font-weight: bold;
        }
    }
}
