#mainAdmin {
    margin-block: 5vh;

    .adminSection {
        background: $blanc;
        margin-block: 3vw;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;

        h1 {
            color: $violet;
            text-transform: uppercase;
        }

        .headerSection {
            background: $background;
            padding: 20px;
            border-radius: 10px;
            nav {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                ul {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    li {
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                        cursor: pointer;
                        transition: all 0.3s;
                        &:hover {
                            font-weight: bold;
                            color: $violet;
                            border-bottom: 2px solid $violet;
                        }
                    }
                    .active {
                        padding-bottom: 5px;
                        border-bottom: 2px solid $violet;
                    }
                }
            }
        }

        .barreRecherche {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .barreRechercheWrapper {
                display: flex;
                flex-direction: column;
                width: 100%;
                label {
                    display: none;
                }
                .barreRechercheContainer {
                    display: flex;
                    flex-direction: row;
                    width: 10vw;
                    input[type="search"] {
                        width: 100%;
                        height: 40px;
                        padding: 10px;
                        border-radius: 7px;
                        outline: none;
                        border: 1px solid #e5e5e5;
                        filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
                        transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
                    }

                    input[type="search"]::-webkit-search-cancel-button {
                        display: none;
                    }

                }
            }
        }

        table {
            width: 100%;
            border-radius: 10px;
            tr {
                border-radius: 10px;
                &:nth-child(odd) {
                    background: #f9f9f9;
                    border-top: 1px solid transparent;
                    border-left: 1px solid transparent;
                }
                &:nth-child(even) {
                    background: $blanc;
                    border-top: 1px solid transparent;
                    border-left: 1px solid transparent;
                }
                th {
                    padding: 20px;
                    text-align: left;
                    background-color: $background;
                    color: $noir;
                }

                td {
                    padding: 20px;
                }

                // Table Utilisateur

                .tdIdentifiantUser {
                    width: 5%;
                }

                .tdUtilisateur {
                    width: 20%;
                    color: $violet;
                    &:hover {
                        color: $violet;
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

                .tdEmail {
                    width: 20%;
                    a {
                        &:hover {
                            color: $violet;
                            cursor: pointer;
                            text-decoration: underline;
                        }
                        color: $violet;
                        text-decoration: none;
                    }
                }

                .tdMotDePasse {
                    width: 40%;
                }

                .tdDateCreation {
                    width: 10%;
                }

                // Table Projet

                .tdIdentifiantProjet {
                    width: 5%;
                }

                .tdCreateur {
                    width: 5%;
                }

                .tdTitreProjet {
                    width: 20%;
                }

                .tdDescription {
                    width: 40%;
                    text-align: justify;
                }

                .tdImage {
                    width: 10%;
                }

                .tdCreationProjet {
                    width: 15%;
                }

                .tdNote {
                    width: 25%;
                }

                .tdActions {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    gap: 5px;
                    i {
                        font-size: 1rem;
                        color: $blanc;
                        border-radius: 50%;
                        padding: 7px;
                        background: $violet;
                        transition: all 0.3s;
                        &:hover {
                            background: $violet2;
                        }
                    }
                }

            }
        }

        &::-webkit-input-placeholder {
            color: $violet;
        }
        &::-moz-placeholder {
            color: $violet;
        }
        &:-ms-input-placeholder {
            color: $violet;
        }
        &::placeholder {
            color: $violet;
        }

        .boutonGeneral {
            height: 40px;
            padding: 10px;
            border-radius: 7px;
            border: 0;
            background: $violet;
            border-radius: 7px;
            outline: none;
            color: #ffffff;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;
            font-weight: normal;
            &:hover {
                background: $violet2;
            }
        }
    }
}
